%% -*- erlang -*-
{deps,
 [
 ]}.

{erl_opts,
 [
  debug_info,
  fail_on_warning,
  {verbosity, trace}
 ]}.

{sub_dirs, ["src"]}.

{edoc_opts,
 [
  {app_default, "http://www.erlang.org/doc/man"},
  {doc_path, []},
  {top_level_readme,
   {"./README.md",
    "https://github.com/sabudaye/dispatcher", "master"}}
 ]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_functions_calls,
  deprecated_functions
 ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.