[
    {dispatcher, [
        {rulesets, [
          {dispatcher, [
            {test, rule},
            {test2, rule2}
          ]},
          {test_app2, [
            {test3, rule3},
            {test4, rule4}
          ]}
        ]}
    ]},

    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},
        {error_logger_mf_maxbytes, 10485760},
        {error_logger_mf_maxfiles, 5}
    ]}
].